<a href="https://colab.research.google.com/github/p1tuo/20201021/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df
dates = pd.date_range('20200101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  1.302364 -1.403357  0.096740 -0.732962
2020-01-02  1.777375 -0.812819  1.469435 -0.696580
2020-01-03 -0.699462  0.840038 -0.147025 -1.633945
2020-01-04 -0.032018  0.659901  0.400837 -1.452018
2020-01-05  1.332466  0.546370  1.133926  0.677050
2020-01-06 -0.480314 -0.647038  0.659475 -0.553312

In [9]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo

In [13]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.<TAB>

SyntaxError: ignored

In [16]:
df.head()

                   A         B         C         D
2020-01-01  1.302364 -1.403357  0.096740 -0.732962
2020-01-02  1.777375 -0.812819  1.469435 -0.696580
2020-01-03 -0.699462  0.840038 -0.147025 -1.633945
2020-01-04 -0.032018  0.659901  0.400837 -1.452018
2020-01-05  1.332466  0.546370  1.133926  0.677050

In [17]:
df.tail(3)

                   A         B         C         D
2020-01-04 -0.032018  0.659901  0.400837 -1.452018
2020-01-05  1.332466  0.546370  1.133926  0.677050
2020-01-06 -0.480314 -0.647038  0.659475 -0.553312

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.533402 -0.136151  0.602231 -0.731961
std    1.062501  0.935647  0.615708  0.818601
min   -0.699462 -1.403357 -0.147025 -1.633945
25%   -0.368240 -0.771374  0.172765 -1.272254
50%    0.635173 -0.050334  0.530156 -0.714771
75%    1.324941  0.631519  1.015313 -0.589129
max    1.777375  0.840038  1.469435  0.677050

In [19]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    1.302364    1.777375   -0.699462   -0.032018    1.332466   -0.480314
B   -1.403357   -0.812819    0.840038    0.659901    0.546370   -0.647038
C    0.096740    1.469435   -0.147025    0.400837    1.133926    0.659475
D   -0.732962   -0.696580   -1.633945   -1.452018    0.677050   -0.553312

In [20]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01 -0.732962  0.096740 -1.403357  1.302364
2020-01-02 -0.696580  1.469435 -0.812819  1.777375
2020-01-03 -1.633945 -0.147025  0.840038 -0.699462
2020-01-04 -1.452018  0.400837  0.659901 -0.032018
2020-01-05  0.677050  1.133926  0.546370  1.332466
2020-01-06 -0.553312  0.659475 -0.647038 -0.480314

In [21]:
 df.loc[dates[0]]

A    1.302364
B   -1.403357
C    0.096740
D   -0.732962
Name: 2020-01-01 00:00:00, dtype: float64