<a href="https://colab.research.google.com/github/p1tuo/20201021/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [36]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))



df

dates = pd.date_range('20200101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=("11","12","13","14"))

df

                  11        12        13        14
2020-01-01  0.374042  0.712952  0.184076 -0.396290
2020-01-02 -0.326791 -0.373780 -0.322175  0.204837
2020-01-03 -0.815546  1.241886  0.377853 -1.019382
2020-01-04  0.251816 -0.170687 -0.268169 -1.514259
2020-01-05 -0.145049 -0.172975 -1.376159  0.589635
2020-01-06 -1.519040 -0.162500  1.737268  0.217315

In [27]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

IndentationError: ignored